
.filter-form input[type='checkbox'] {
    display:none;
}


.filter-form  label {
    display:inline-block;
    margin-right: 15px;
    cursor:pointer;
    padding: 5px 15px;
    border: solid 1px #212529;
    border-radius: 20px;
}


.filter-form  label:hover,
.filter-form  label.active {
    background:#212529;
    color:#fff;
}